mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+e.slider--js.swiper.picture-bg
			.swiper-wrapper
				-for(let i=1; i<=4; i++)
					+e.slide.swiper-slide
						//- picture
						//- 	source(media="(min-width:400px)" srcset=`img/header-bg-${i}.jpg`)
						//- 	+img(`img/header-bg-sm-${i}.jpg`)
						+pic(`header-bg-${i}.jpg`)
						//- picture
						//- 	+img(`img/header-bg-${i}.jpg`)
		+e.container.container
			+b.section-wrap
				h1 #[strong Недвижимость] Северного Кипра
				p Давайте подберем объекты для Вас, наш менеджер свяжется с&nbsp;вами, уточнит требования и&nbsp;бюджет, подготовит и&nbsp;вышлет подборку из&nbsp;20-30 наиболее подходящих для вас объектов.
				+e.btn(href="#" data-src='modal-call' data-fancybox="modal" data-order="Заявка с главного экрана").btn.btn-primary.btn-js Заявка на подбор объекта
			+e.slider-wrap
				+e.slider-txt--js.swiper
					.swiper-wrapper
						mixin slide(title, text)
							+e.slide-txt.swiper-slide
								+e.title!= title
								p!= text
						+slide('Древний город Саламис', 'Северный Кипр')
						+slide('Аббатство Белапаис', 'Северный Кипр')
						+slide('Замок Гирне', 'Северный Кипр')
						+slide('Замок Кантара', 'Северный Кипр')
					+arrow()
			+e.scroll-down(href="#sProfitable") Листайте вниз

	// end headerBlock